.product{
    img{
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
    &__info{
        padding: 25px 28px 20px 16px;
        background-color: #F8F8F8;
        margin-top: -4px;
    }
    &__name{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        text-transform: uppercase;
    }
    &__descr{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        // letter-spacing: 0.5px;
        margin-top: 12px;
        margin-bottom: 18px;
    }
    &__price{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
}